html {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    color: #7A7A7A;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

table {
    width: 100%;
    margin: 2% auto;
    background-color: #4682B4;
    font-size: 1.2rem;
}

td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid #FFF;
}

body {
    background: url('../logo.png') no-repeat center center fixed;
    background-size: contain;
    background-color: rgba(245, 245, 245, 0.835);
    background-blend-mode: overlay;
    padding-bottom: 10px;
}

body > div {
    width: 70%;
    margin: 0 auto;
}

.button a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home img {
    position: fixed;
    margin: 5px;
    width: 100%;
    height: 100%;
    max-width: 125px;
    max-height: 115px;
    top: 0;
    left: 0;
}

#image-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 80%;
    max-width: 500px;
    min-height: 90%;
    max-height: 300px;
}

.grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
    justify-content: center;
}

.grid>.button {
    text-align: center;
    background-color: #4682B4;
    border-radius: 25px;
    margin: 2.5% auto;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 150px;
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    body {
        padding-bottom: 30px;
    }
    h1 {
        font-size: 2rem;
    }
    table {
        font-size: 2rem;
    }
    #home img {
        margin: 5px;
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 225px;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, 400px);
        gap: 2rem;
    }
    .grid>.button {
        border-radius: 50px;
        min-width: 400px;
        min-height: 300px;
    }
    .button a {
        font-size: 3rem;
    }
}

/* SMARTPHONES PORTRAIT */
@media screen and (max-width: 600px) {
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }
    #home img {
        max-width: 95px;
        max-height: 85px;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, 180px);
        gap: 1.5rem;
    }
    .grid>.button {
        border-radius: 15px;
        min-width: 100px;
        min-height: 80px;
    }
    .button a {
        font-size: 1rem;
    }
}