html {
    color: #FFF;
}

h1,h2,h3,h4,h5,h6 {
    color: #7A7A7A;
    padding: 10px 0;
}
body {
    background: url('../logo.png') no-repeat center center fixed;
    background-size: contain;
    background-color: rgba(245, 245, 245, 0.835);
    background-blend-mode: overlay;
}

body > div {
    width: 80%;
    margin: 0 auto;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    text-decoration: none;
    font-size: 1.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    padding: 0 10%;
}

.container>div {
    text-align: center;
    background-color: #4682B4;
    border-radius: 25px;
    margin: 5% auto;
    /* this padding makes the button harder to engage */
    padding: 0 2%;
    width: 200px;
    height: 150px;
    float: left;
}